.root{
  padding: 100px 0;
  text-align: center;

  span{
    font-size: 64px;
  }

  h1{
    margin-bottom: 50px;
  }
}

.btn{
  padding: 20px 30px;
  border-radius: 20px;
  color: #000;
  background-color: #f3f3f3;
  transition: background .3s ease-in-out;

  &:hover{
    background: darken(#f3f3f3, 10%);
  }
}
